<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout :: layout(~{::section}, 'ログイン', _)}">

<body>
	<section>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-5 col-lg-4">
					<div class="card shadow-sm mt-5">
						<div class="card-body p-4">
							<h2 class="card-title mb-4 text-center fw-bold">ログイン</h2>
							<div th:if="${param.error}" class="alert alert-danger small">ユーザーIDまたはパスワードが違います</div>
							<div th:if="${param.logout}" class="alert alert-info small">ログアウトしました</div>
							<form th:action="@{/login}" method="post" th:object="${loginForm}">
								<div class="mb-3">
									<label class="form-label small">ユーザーID</label>
									<input type="text" class="form-control" th:field="*{userId}" required>
								</div>
								<div class="mb-3">
									<label class="form-label small">パスワード</label>
									<input type="password" class="form-control" th:field="*{password}" required>
								</div>
								<div class="d-grid mt-4">
									<button type="submit" class="btn btn-primary">ログイン</button>
								</div>
							</form>
						</div>
						<div class="card-footer py-3 text-center bg-white border-top-0">
							<span class="small text-muted">パスワードをお忘れですか？</span>
							<a th:href="@{/password-reset}"
								class="small text-decoration-none fw-bold"><u>パスワードリセット</u></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>