<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>一覧</title>
</head>

<body>

	<h2>Users登録</h2>

	<form th:action="@{/users-input}" th:object="${usersForm}" method="post">

		<input type="text" th:field="*{userId}">
		<p th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}" style="color:red;"></p>
		<p th:if="${duplicationError}" th:text="${duplicationError}" style="color:red;"></p>

		<input type="password" th:field="*{password}">
		<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color:red;"></p>
		
		<button type="submit">登録</button>
	</form>

	<a th:href="@{/users-view}">戻る</a>

</body>

</html>