<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<title>一覧</title>
</head>

<body>

	<h2>Users一覧</h2>

	<div>
		<p>ログイン : <span sec:authentication="name">null</span></p>
	</div>

	<div sec:authorize="hasRole('ADMIN')">
		<h3>管理者通知</h3>
		<p>このメッセージは監理者しか閲覧できません</p>
	</div>

	<div sec:authorize="hasRole('USER')">
		<h3>ユーザー通知</h3>
		<p>このメッセージは一般しか閲覧できません</p>
	</div>

	<hr>

	<form th:action="@{/users-view}" th:object="${usersForm}" method="get">
		<input type="text" th:field="*{name}" placeholder="名前を検索">
		<button type="submit">検索</button>
	</form>

	<ul>
		<li th:each="user : ${users}">
			<span>ユーザーID :</span>
			<span th:text="${user.userId}"></span>
			<span> 名前 :</span>
			<span th:text="${user.name}"></span>
		</li>
	</ul>

	<a th:href="@{/sign-up}">登録画面へ</a>
	<a th:href="@{/logout}">ログアウト</a>

</body>

</html>